<%- include('./shared/head.ejs') %>
<link href="/css/editPost.css" rel="stylesheet">
<title>Canva!</title>
</head>
<body>
    <main>
        <%- include('./shared/homeSideNav.ejs') %>
        <div class="card-body pt-5 text-center">
            <form method="post" action="/updateOrDelete/<%= post._id %>">
                <img id="post-image" src="/<%= post.imageURL %>">
                <div class="form-outline form-white mb-4">
                    <input type="title" id="title" class="form-control-lg" name="title"
                    maxlength="26" autocomplete="off" placeholder="title..." value="<%= post.blogTitle %>"/>
                </div>
                <div class="form-outline form-white mb-4">
                    <textarea type="body" id="body" class="form-control-lg" name="body"
                    maxlength="200" autocomplete="off" placeholder="say someting..."><%= post.summary %></textarea>
                </div>
                <div class="buttons">
                    <button class="btn btn-outline-dark btn-lg px-5" value="update" name="submit" type="submit">Update</button>
                    <button class="btn btn-outline-dark btn-lg px-5" value="cancel" name="submit" type="submit">Cancel</button>
                    <button id="delete-btn" class="btn btn-outline-dark btn-lg px-5" value="delete" name="submit" type="submit">Delete</button>
                </div>
            </form>
    </main>
    <script src="/bootstrap.bundle.min.js"></script>

    <script src="/js/home.js"></script>
    <script src="/js/sideNav.js"></script>
</body>