<%- include('./shared/head.ejs') %>
  <link href="/css/home.css" rel="stylesheet">
  <title>Canva!</title>
  </head>
  <body>
    <main>
      <%- include('./shared/homeSideNav.ejs') %>
      <div class="posts text-center">
        <% if (posts.length > 0) { %>
          <% for(let x of posts) { %>
            <div class="p-4">
              <div class="card px-3 bg-dark" style="width: 500px;">
                <div class="userData">
                  <img id="pfp" src="" />
                  <p id="userName" data-userId="<%= x.userId %>"></p>
                </div>
              <hr>
                <img style="max-width: 28rem;" src="<%= x.imageURL %>" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title"><%= x.blogTitle %></h5>
                  <p class="card-text"><%= x.summary %></p>
                </div>
                <div>
                  <% if (x.likedUsers.includes(userId)) { %>
                    <button class="like-btn pb-2 liked" id="like" data-blogid="<%= x._id %>"><i class="fa-solid fa-thumbs-up"></i></button>
                  <% } else { %>
                    <button class="like-btn pb-2" id="like" data-blogid="<%= x._id %>"><i class="fa-solid fa-thumbs-up"></i></button>
                  <% } %> 
                  <p id="likeCount"><%= x.likeCount %></p>
                </div>
              </div>
            </div>
          <% } %>
        <% }else { %>
          <h1 id="no-post-text">Nothing to see here...</h1>
        <% } %>
      </div>
    </main>
  </body>
  <script src="/bootstrap.bundle.min.js"></script>
  <script src="/js/home.js"></script>
  <script src="/js/getUserData.js"></script>
  <script src="/js/likePost.js"></script>
  </html>