<%- include('./shared/head.ejs') %>
  <link href="/css/home.css" rel="stylesheet">
  <script src="/js/home.js"></script>
  <title>Canva!</title>
  </head>
  <style>
    #feed {
      color: rgb(40, 92, 161)
    }
    .like-btn {
      all: unset;
      cursor: pointer;
    }
    .p-4 {
      position: relative;
      color: #fff;
    }
    .card {
      margin:auto
    }
    .posts {
      width: 100%;
      overflow-y: scroll;
      overflow-x: scroll;
    }
    img {
      align-self:center;
    }
    button:hover{
      color:rgb(40, 92, 161)
    }
  </style>

  <body>

    <main>
      <%- include('./shared/homeSideNav.ejs') %>
      <div class="posts text-center">
        <% for(let x of posts) { %>
          <div class="p-4">
            <div class="card px-3 pt-3 bg-dark" style="width: 500px;">
              <p>Posted by <%= x.userId %></p>
              <img style="max-width: 400px;" src="<%= x.imageURL %> " class="card-img-top pt-3">
              <div class="card-body">
                <h5 class="card-title"><%= x.title %></h5>
                <p class="card-text"><%= x.summary %></p>
              </div>
              <div>
                <button class="like-btn pb-2"><i class="fa-solid fa-thumbs-up" onclick="addLike()"></i></button>
              </div>
            </div>
          </div>
        <% } %>
      </div>
 
    </main>
    <script src="/bootstrap.bundle.min.js"></script>
  </body>

  </html>